@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

:root {
  --md-sys-color-primary: rgb(235 235 235);
  --md-sys-color-surface-tint: rgb(198 198 198);
  --md-sys-color-on-primary: rgb(47 49 49);
  --md-sys-color-primary-container: rgb(158, 158, 158);
  --md-sys-color-on-primary-container: rgb(49 51 51);
  --md-sys-color-secondary: rgb(255 182 137);
  --md-sys-color-on-secondary: rgb(81 35 0);
  --md-sys-color-secondary-container: rgb(228 120 37);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(216 185 255);
  --md-sys-color-on-tertiary: rgb(67 14 124);
  --md-sys-color-tertiary-container: rgb(103 57 160);
  --md-sys-color-on-tertiary-container: rgb(250 239 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(20 19 19);
  --md-sys-color-on-background: rgb(229 226 225);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(229 226 225);
  --md-sys-color-surface-variant: rgb(68 71 72);
  --md-sys-color-on-surface-variant: rgb(196 199 199);
  --md-sys-color-outline: rgb(142 145 146);
  --md-sys-color-outline-variant: rgb(68 71 72);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(49 48 48);
  --md-sys-color-inverse-primary: rgb(93 94 95);
  --md-sys-color-primary-fixed: rgb(227 226 226);
  --md-sys-color-on-primary-fixed: rgb(26 28 28);
  --md-sys-color-primary-fixed-dim: rgb(198 198 198);
  --md-sys-color-on-primary-fixed-variant: rgb(70 71 71);
  --md-sys-color-secondary-fixed: rgb(255 219 200);
  --md-sys-color-on-secondary-fixed: rgb(49 19 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 182 137);
  --md-sys-color-on-secondary-fixed-variant: rgb(115 53 0);
  --md-sys-color-tertiary-fixed: rgb(238 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(41 0 84);
  --md-sys-color-tertiary-fixed-dim: rgb(216 185 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(91 45 148);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 57);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(42 42 42);
  --md-sys-color-surface-container-highest: rgb(53 52 52);
}